.genre-list {
    padding: 0;
    margin: 40px 0 120px 0;
}

.genre-list__title {
    margin: 0 0 64px 0;
    padding: 0;
}

.genre-list__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 64px 40px;
}

@media (max-width: 1439px) {
    .genre-list__list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1200px) {
    .genre-list__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .genre-list {
        margin: 16px 0 40px 0;
    }

    .genre-list__mobile {
        display: block;
    }

    .genre-list__title {
        font-size: 24px;
        line-height: 32px;
        margin: 0 0 40px 0;
    }
}

@media (max-width: 550px) {
    .genre-list__list {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
}